.header {
  display: flex;
  align-items: center;
  background-color: rgb(23, 22, 22);
  color: #fff;
  padding: 10px;
}

.logo {
  display: flex;
  margin-right: auto;
}

.icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.2em;
  font-weight: bold;
  color: #a68e06;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-left: auto;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #a68e06;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.connexionButton {
  margin-left: 10px; 
  margin-right: 10px;
  background-color: #a68e06;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connexionButton:hover {
  background-color: black;
}